.mainText {
    color: red;
    font-size: 300px;
}
body {
    background-color: antiquewhite;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-wrap:wrap;
}

a {
    text-decoration: none;
    color: red;
}

.title {
    color: red;
    font-size: 80px;
    font-weight: 800;
    text-align: center;

}

.mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 600px;
    margin-top: 30px;
    border-radius: 5cm;
    object-fit:cover;
  }

h2, p, ul, ol {
    padding-left: 15%;
}

@media only screen and (max-width: 600px) {
    .mainImage {
        height: 300px;
        object-fit:cover;
        border-radius: 2cm;
    }

    .title {
        font-size: 50px;
    }

    body {
        padding: 20px;
        font-size: 15px;
    }

    .mainText {
        font-size: 60px;
    }

    a {
        font-size: 30px;
    }
    
    h1 {
        font-size: 20px;
    }

    h2, p, ul, ol {
        padding-left: 5%;
    }

  }

